@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    background-color: #001524;
    color: #FFECD1;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FF7D00;
    font-size: 40px;
    font-family:'Nabla Regular';
    margin-top: 20px;
}

p {
    font-size: 25px;
    margin: 10px;
}

#gestureBox {
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 5px solid #15616D;
    background-color: #FFECD1;
    object-fit: cover;
}

#output {
    font-size: 30px;
    color: #FF7D00;
    font-weight: bold;
}

#counter {
    font-size: 30px;
    color: #FFECD1;
    margin-top: 10px;
}


.nabla-font {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}