body {
    background-color: #001524;
    color: #FFECD1;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FF7D00;
    font-size: 40px;
    margin-top: 20px;
}

p {
    font-size: 25px;
    margin: 10px;
}

#gestureBox {
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 5px solid #15616D;
    background-color: #FFECD1;
    object-fit: cover;
}

#output {
    font-size: 1.2em;
    color: #FF7D00;
    font-weight: bold;
}

#counter {
    font-size: 1em;
    color: #FFECD1;
    margin-top: 10px;
}
